# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: CloudFoundryCLIInstall@0
  inputs:
    cfVersion: '6.51.0'
- task: AzureCLI@2
  inputs:
    azureSubscription: 'FE-lrosenquist(606bd6d1-8d80-4450-aecf-5ba421626688)'
    scriptType: 'bash'
    scriptLocation: 'scriptPath'
    scriptPath: 'create-key.sh'
    addSpnToEnvironment: true
- task: Bash@3
  inputs:
    filePath: 'update-config-server.sh'
  env:
    CLIENT_ID: $(CLIENT_ID)
    CLIENT_SECRET: $(CLIENT_SECRET)
    KID: $(KID)
    CF_PASSWORD: $(CF_PASSWORD)
    CF_USER: $(CF_USER)
    CF_URL: $(CF_URL)
