# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: CloudFoundryCLIInstall@0
  inputs:
    cfVersion: '6.51.0'
- task: AzureCLI@2
  inputs:
    azureSubscription: 'FE-lrosenquist(606bd6d1-8d80-4450-aecf-5ba421626688)'
    scriptType: 'bash'
    scriptLocation: 'inlineScript'
    inlineScript: 'az ad sp create-for-rbac -n http://yourSigningDemoKeyvaultSP3 --sdk-auth'
- task: AzureCLI@2
  inputs:
    azureSubscription: 'FE-lrosenquist(606bd6d1-8d80-4450-aecf-5ba421626688)'
    scriptType: 'bash'
    scriptLocation: 'scriptPath'
    scriptPath: 'setup_keyvault.sh'
    addSpnToEnvironment: true
- task: Bash@3
  inputs:
    filePath: 'cf-update-config-server.sh'
