# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: CloudFoundryCLIInstall@0
  inputs:
    cfVersion: '6.43.0'
- task: CloudFoundryCLI@0
  inputs:
    cfEndpoint: 'My Test environment'
    skipSSLValidation: true
    cfCommand: 'add-plugin-repo CF-Community https://plugins.cloudfoundry.org'
- task: CloudFoundryCLI@0
  inputs:
    cfEndpoint: 'My Test environment'
    skipSSLValidation: true
    cfCommand: 'install-plugin -r CF-Community "spring-cloud-services"'
- task: CloudFoundryCLI@0
  inputs:
    cfEndpoint: 'My Test environment'
    skipSSLValidation: true
    org: 'lars'
    space: 'lars'
    cfCommand: 'config-server-add-credhub-secret my-config-server signing-demo/cloud/master/myprop ''{"kid":"$KID","clientId":"$CLIENT_ID","clientSecret":"$CLIENT_SECRET"}'''